<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ZureoPrestashop</name>
	<displayName><![CDATA[ZureoPrestashop]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Módulo para la sincronización entre clientes con PrestaShop hacia los webservices de Zureo.]]></description>
	<author><![CDATA[Mega S.A.]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
